.food-item-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 10px 20px;
  background-color: white;
  padding: 10px 11px;
  border-radius: 10px;
  max-width: 45%;
  p {
    margin: 0;
    font-family: 'NATS';
    font-size: 130x;
  }
}